/*
Estilo para el formulario de publicacion

    <div class="publicacionSubir">
        <form action="publicacion.php" method="post" enctype="multipart/form-data">
            <p>Publicar</p>
            <textarea name="publicacionTexto" id="publicacionTexto" rows="10" cols="40"></textarea>
            <input type="file" name="publicacionArchivo" placeholder="Foto">          
            <button type="submit">Subir</button>
        </form>
    </div>   

*/


/*
Estilos para las publicaciones
*/
#publicaciones{
    width: 320;
    margin: auto;
    border: 1px solid black;
    border-radius: 2%;
}

.publicacion{
    width: 300px;
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho y la altura */
    margin: auto 4px; /* Espacio entre el texto y la imagen */
    border: 2px solid black;
    border-radius: 2%;
    margin: auto;
    margin-bottom: 6px;
}

.publicacionImagen .imagen{
    width: 296px;
    margin: auto;
    height: 100px;
}

.publicacionTexto .texto {
    width: 100%; /* Ajusta el ancho del contenedor de texto al contenedor principal */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho y la altura */
    margin-bottom: 10px; /* Espacio entre el texto y la imagen */
}

.reacciones{
    border: solid 1px black;
    border-radius: 2%;
    width: 296px;
    height: 22px;
}

.reacciones button{
    border: solid 1px black;
    border-radius: 2%;
    width: 80px;
    height: 18px;
}




