.amigos{
    width: 100%;
    height: 84%;
    max-width: 600px;
    min-width: 300px;
    max-height: 800px;
    margin: auto;
    border-radius: 2%;
}

.busqueda{
    width: 98%;
    height: 34px;
    border-radius: 2%;
    margin: 10px auto;    
    text-align: center;
}

#busqueda-amigo{
    height: 30px;
    width: 240px;
    margin: 2px auto;
}

#busqueda-boton{
    height: 30px;
    width: 60px; 
    margin: 2px auto; 
}

#amigo{
    height: 44px;
    width: 98%;
    margin: 20px auto;
    border: solid 1px black;
    background-color: azure;
}


#imagen{
    height: 90%;
    width: 12%;
    display: inline-block;
    margin: 2px auto;
    vertical-align: middle;
}


#usuario-nombre{
    padding: 0px;
    display: inline-block;    
}

#boton-eliminar{
    height: 26px;
    width: 20%;
    right: 0;
}


/*
<div class="amigos">
    <div class="busqueda">
        <input type="search" name="buscar" id="busqueda-amigo" placeholder="Buscar Amigo">
        <input type="submit" id="busqueda-boton" value="Buscar">
    </div>

    <div id="amigo">
        <h1>Amigos</h1>
        <img src="" alt="imagen usuario">
        <p id="usuario-nombre">Nombre Usuario</p>
        <input type="submit" value="Eliminar">

    </div>

</div>   

*/