.guardados{
    width: 100%;
    height: 84%;
    max-width: 600px;
    min-width: 340px;
    max-height: 800px;
    margin: auto;
    /* border: solid black 2px; */
    overflow: hidden;
}

#guardado{
    display: inline-block;
    margin: 0;
    width: 24%;
    height: 33%;
    
}


img{
    width: 100%;
    height: 100%;
}




