.barra-superior{
    height: 8vh;
    width: 100%;
    min-width: 400px;
    margin: auto;
    text-align: center;
    border: 1px black solid;
    position: fixed;    
    top:0;
    right: 0;
    background-color: white;
}
