.contenedor-principla{
    width: 100%;
    height: auto;
    max-width: 600px;
    min-width: 340px;
    max-height: 800px;
    margin: 9vh auto;
    border-radius: 2%;
}


.busqueda{
    width: 98%;
    height: 34px;
    border-radius: 2%;
    margin: 10px auto;    
    text-align: center;
}

#busqueda-texto{
    height: 30px;
    width: 240px;
    margin: 2px auto;
}

#busqueda-boton{
    height: 30px;
    width: 60px; 
    margin: 2px auto; 
}

.notificaciones{
    height: auto;
    width: 98%;
    margin: 0px auto;
}

#notificacion{
    height: 44px;
    width: 98%;
    margin: 6px auto;
    border: solid 1px black;
    background-color: azure;
}

#errorCampos{
    text-align: center;
}

#imagen{
    height: 90%;
    width: 12%;
    display: inline-block;
    margin: 2px auto;
    vertical-align: middle;
}


#usuario-nombre{
    padding: 0px;
    display: inline-block;    
}

#fecha{
    margin: 2px 20px;
    display: inline-block;
}



