.barra-inferior{
    height: 8vh;
    width: 100%;
    min-width: 400px;
    margin: auto;
    text-align: center;
    border: 1px black solid;
    position: fixed;    
    bottom: 0;
    right: 0;    
    background-color: white;
}

.imagen-menu{
    height: 5vh;
    width: 5vh;
    margin: 10px 4%;
}

