.usuario{
    width: 360px;    
    height: 900px;
    border: solid black 2px;
    margin: auto;
}

.fotoUsuario img{
    border: solid 2px black;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin: 8px 4px;    
}


.informacionPersonal{
    width: 350px; 
    box-sizing: border-box; 
    word-wrap: break-word;
    margin: 1px 4px;
}

