.contenedor-principal{
    width: 100%;
    height: auto;
    max-width: 600px;
    min-width: 300px;
    max-height: 800px;
    margin: 9vh auto;
    border-radius: 2%;
    border: solid 2px black;
}


.solicitud-busqueda{
    width: 98%;
    height: 34px;
    border-radius: 2%;
    margin: 10px auto;    
    text-align: center;
}


#busqueda-texto{
    height: 30px;
    width: 240px;
    margin: 2px auto;
}


#busqueda-boton{
    height: 30px;
    width: 60px; 
    margin: 2px auto; 
}


#errorCampos{
    text-align: center;
}


.solicitudes{
    height: auto;
    width: 98%;
    margin: 0px auto;
}


#solicitud{
    height: 44px;
    width: 98%;
    margin: 6px auto;
    border: solid 1px black;
    background-color: azure;
}


#imagen{
    height: 28px;
    width: 8%;
    display: inline-block;
    margin: 2px 4px;
    vertical-align: middle;
    border: solid black 1px;
    border-radius: 40%;
}


#usuario-nombre{
    padding: 0px;
    display: inline-block;    
}


.botones{
    height: 26px;
    width: 20%;
    right: 0;
    margin: 4px 2px;
}


